.bundle
db/*.sqlite3
log/*.log
tmp/*
public/stylesheets/.sass-cache/*
.sass-cache/
config/database.yml
.rbenv-gemsets
.rbenv-vars
.powconfig
.powenv
*.swp
*.swo
.DS_Store
*.DS_Store
public/assets
public/assets/*
